body{
    background: url('images/marsh.jpg')  no-repeat center center fixed;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: hsla(0,0%,100%,0.70);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}
.menuBar{
    background-color: #0c4d78;
}
.dropdown.menu .submenu {
    border: none;
    background-color:#0c4d78;

}
.dropdown.menu{
    background-clip: #eee;
}
.title-bar {
    background-color: #0c4d78;
}
.top-bar, a{
    background-color:#0c4d78;
    color: #fff;
}

h1{
    text-align: center;
    font-family: 'Anton', sans-serif;
}

.top-bar, top-bar ul{
    background-color:#0c4d78;

}
.small{
    margin: 1em 0em 1em 2em;
}
button{
    font-family: 'Coda Caption', sans-serif;
    border-right: #D0E7EF;
}
.top-main, .mid-main{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
#offCanvasLeft{
    text-align: center;
}
img {
  margin-right: 1rem;

}
#logo {
    height: 50px;
}
#jimmyHome{
    border-radius: 50%;
}
.socialBtn{
    border-color: #D0E7EF;
    background-color: #5E8F6A;
}
.top-bar, .top-bar ul {
    background-color: #0c4d78;
}


@media only screen{
#jimmyHome{
    border-radius: 50%;
    width: 50%;
    }
}
