body{
    background-color: #D0E7EF;
    color: #577168;
}
.dropdown.menu .submenu {
    border: none;
    background-color: #eee;
}
.dropdown.menu{
    background-clip: #eee;
}
.title-bar {
    background-color: #577168;
}
.top-bar, li, a, a:focus, a:hover a::after{
    background-color: #6C7865;
    color: #fff;
}

h1{
    text-align: center;
    font-family: 'Coda Caption', sans-serif;
    
}
.small{
    margin: 1em 0em 1em 2em;
}
button{
    font-family: 'Coda Caption', sans-serif;
    border-right: #D0E7EF;
}
.top-main, .mid-main{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
#offCanvasLeft{
    text-align: center;
}
img {
  margin-right: 1rem;

}
#logo {
    height: 50px;
}
#jimmyHome{
    border-radius: 50%;
}
.socialBtn{
    border-color: #D0E7EF;
    background-color: #5E8F6A;
}


@media only screen{
#jimmyHome{
    border-radius: 50%;
    width: 50%;
    }
}
